.app {
  overflow-x: hidden;
  height: 100vh;

  .layout {
    display: flex;
    flex-direction: column;
    height: 100%;

    .header {
      height: 4rem;
      background: #BC5341;
      font-family: "Roboto", sans-serif;
      font-size: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;

      h1 {
        color: #F6C6C6;
        font-weight: 100;
        font-size: 1.5rem;
      }
    }

    .content {
      flex: 1;
      display: flex;
      flex-direction: column;
    }

    .footer {
      height: 5rem;
      background: #BC5341;
    }
  }
}
